<div class="ml-10">
  <h1 class="text-2xl mb-5">Gestionnaire fichier</h1>
  <p>Insérez votre fichier</p>

  <form action="/documents/store" method="post" enctype="multipart/form-data">
    <label for="file">Choisissez un fichier pdf, docx, md ou txt :</label><br /><br />
    <input
      type="file"
      id="file"
      name="file"
      accept=".pdf,.docx,.txt,.md"
      required
    /><br /><br />

    <button type="submit" class="p-2 bg-blue-500 rounded-md text-white mb-5">Upload</button>
  </form>
  <a href="/" class="p-2 bg-blue-500 rounded-md text-white">Retour à l'acceuil</a>
</div>