<div class="ml-10">
  <h1>Fichier existant</h1>
  <p>Votre fichier <strong><%= @file_name %></strong></p>
  <div class="mt-5"></div>
  <a href="/" class="p-2 bg-blue-500 rounded-md text-white">Retour à l'accueil</a>
</div>