<h1 class="text-2xl font-semibold text-gray-800 mb-4">Modifier l’aliment</h1>

<% if @error %>
<p style="color: red"><%= @error %></p>
<% end %>

<form action="/food_entries/<%= @food_entry.id %>" method="post">
  <input type="hidden" name="_method" value="put" />

  <%= erb :'food_entries/_form', locals: { name_value: @food_entry.name,
  calories_value: @food_entry.calories, carbs_value: @food_entry.carbs,
  proteins_value: @food_entry.proteins, fats_value: @food_entry.fats,
  public_value: @food_entry.public, button_text: 'Mettre à jour' } %>
</form>
