<div class="container mx-auto">
  <h1 class="text-2xl font-bold text-gray-800 mb-4">
    Bienvenue <%= @connected_user.name %>
  </h1>

  <a
    href="/weights"
    class="inline-block mt-4 px-6 py-2 bg-blue-500 text-white font-semibold rounded hover:bg-blue-600"
  >
    Voir mes données de poids
  </a>

  <a
    href="/food_entries"
    class="inline-block mt-4 px-6 py-2 bg-blue-500 text-white font-semibold rounded hover:bg-blue-600"
  >
    Voir les aliments
  </a>

  <a
    href="/consumptions"
    class="inline-block mt-4 px-6 py-2 bg-blue-500 text-white font-semibold rounded hover:bg-blue-600"
  >
    Voir ma consommation
  </a>
</div>
